    <h1>Convert <%=@from_curr%></h1>

<p>Go <a href="/forex">back</a>.</p>

  <% @sym_array.each do |symbol| %>
    <li>
      <a href="/forex/<%=@from_curr%>/<%=symbol.to_s%>">
        Convert 1 <%=@from_curr%> to <%=symbol.to_s%>...
      </a>
    </li>
  <% end %>

